---
import Layout from "@/layouts/Layout.astro";
import Logo from "@/assets/logo.svg"


---

<Layout title="Página no encontrada">
    <div class="mt-20 flex flex-col items-center gap-5">
        <Logo/>
        <p>
            Tal vez quieras volver a ir a la <a href="/">página de inicio</a>.
        </p>
    </div>
</Layout>